extends ../layout

block content
  .container
    .panel
      .panel-body
        if messages.success
          .alert.alert-success(role='alert')
            for success in messages.success
              div= success.msg
        if messages.error
          .alert.alert-danger(role='alert')
            for error in messages.error
              div= error.msg

        form.form-horizontal(method='POST', action='/account?_method=PUT')
          legend Profile Information
          .form-group
            label.col-sm-3(for='email') Email
            .col-sm-7
              input.form-control(type='email', name='email', id='email', value=user.email)
          .form-group
            label.col-sm-3(for='name') Name
            .col-sm-7
              input.form-control(type='text', name='name', id='name', value=user.name)
          .form-group
            label.col-sm-3 Gender
            .col-sm-4
              label.radio-inline.radio.col-sm-4
                input(type='radio', checked=(user.gender == 'male'), name='gender', value='male', data-toggle='radio')
                span Male
              label.radio-inline.col-sm-4
                input(type='radio', checked=(user.gender == 'female'), name='gender', value='female', data-toggle='radio')
                span Female
          .form-group
            label.col-sm-3(for='location') Lieu
            .col-sm-7
              input.form-control(type='text', name='location', id='location', value=user.location)
          .form-group
            label.col-sm-3(for='website') Site Web
            .col-sm-7
              input.form-control(type='text', name='website', id='website', value=user.website)
          .form-group
            label.col-sm-3 Gravatar
            .col-sm-4
              img(src=user.gravatar, class='profile', width='100', height='100')
          .form-group
            .col-sm-offset-3.col-sm-4
              button.btn.btn-success(type='submit') Mettre à jour le profil

    .panel
      .panel-body
        form.form-horizontal(method='POST', action='/account?_method=PUT')
          legend Modifierle mot de passe
          .form-group
            label.col-sm-3(for='password') Nouveau mot de passe
            .col-sm-7
              input.form-control(type='password', name='password', id='password')
          .form-group
            label.col-sm-3(for='confirm') Confirmer le mot de passe
            .col-sm-7
              input.form-control(type='password', name='confirm', id='confirm')
          .form-group
            .col-sm-4.col-sm-offset-3
              button.btn.btn-success(type='submit') Modifier le mot de passe

    .panel
      .panel-body
        .form-horizontal
          legend Linked Accounts
          .form-group
            .col-sm-offset-3.col-sm-4

    .panel
      .panel-body
        form.form-horizontal(method='POST', action='/account?_method=DELETE')
          legend Supprimer le compte
          .form-group
            p.col-sm-offset-3.col-sm-9 Vous pouvez supprimer votre compte, mais notez bien que cette action est définitive.
            .col-sm-offset-3.col-sm-9
              button.btn.btn-danger(type='submit') Supprimer mon compte
